body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background-color: F6F6F6;
  }

a { color: inherit; text-decoration: none;} 


  .topnav {
    overflow: hidden;
    background-color: #F35B5B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    width: 100%;
    height: 90px;
    top: 0;
    left:0;

  }

  .topnav2 {
    overflow: hidden;
    background-color: #F35B5B;
    width: 100%;
    height: 200px;
    position: relative;



  }


 nav-items {
     list-style-type: none;
     display: flex;
 }

 .logo {
     margin-top: 15px
 }

 .item {
     list-style-type: none;
     display: inline-block;
 }


.headerDivider {
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;
    height:70px;
    position:absolute;
    top:-7px;
    margin-left: 270px;
}

.item2 {
    list-style-type: none;
    position:absolute;
     display: inline-block;
     color: white;
     margin-left: 70px;
     font-size: 40px;
     margin-top: -30px;
     top: 35px;
}

.item3 {
    list-style-type: none;
    position:absolute;
     display: inline-block;
     margin-left: 1135px;
     font-size: 27px;
     margin-top: -20px;
     top: 10px;
     color: white;
}

.navigation {
    list-style-type: none;
    display: flex;
}

.nav-item {
    margin: 30px;
}

.nav-item:hover {
    animation: mymove 3s;
    cursor: pointer;
}

@keyframes mymove{
    10%{font-size: 30px;}
}

.nav-item-follow {
    position:absolute;
    margin-top: 30px;
    margin-left: 0px;
    left: 410px;
}

.event {
    width: 1250px;
    height: 270px;
    margin-top:50px;
    margin-left: 20px;
    transition: box-shadow 0.3s ease-in-out;
    padding-left: 20px;
    padding-top: 30px;


}

@keyframes mymove2{
    5%{font-size: 30px;}
}

.event:hover {
    cursor: pointer;



}


.add {
    position: absolute;
    top: 130px;
    left: 1500px;
}



    .lds-roller {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
    }
    .lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #fff;
      margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
      top: 63px;
      left: 63px;
    }
    .lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
      top: 68px;
      left: 56px;
    }
    .lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
      top: 71px;
      left: 48px;
    }
    .lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
      top: 72px;
      left: 40px;
    }
    .lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
      top: 71px;
      left: 32px;
    }
    .lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
      top: 68px;
      left: 24px;
    }
    .lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
      top: 63px;
      left: 17px;
    }
    .lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
      top: 56px;
      left: 12px;
    }
    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
